./cpp/net00/src/CMakeFiles
./cpp/net00/src/out
./cpp/net00/src/CMakeCache.txt
./cpp/net00/src/*.cmake
./cpp/net00/src/*.bak
./cpp/net00/utils/CMakeFiles
./cpp/net00/utils/out
./cpp/net00/utils/CMakeCache.txt
./cpp/net00/utils/*.cmake
./cpp/net00/utils/*.bak
./cpp/net00/base/out
./cpp/net00/.vs




